<%- include('_layout/header'); -%>
<br>
<br>
<div class="log">
    <form action="/" method="POST">
        <fieldset>
            <div class="card-content">
                <label for="nom">Nom :</label>                 
                <input type="text" name="pseudo" id="nom">
            </div>
            <br>
            <div class="card-content">
                <label for="password">Mot de passe :</label>                 
                <input type="password" name="password" id="password">
            </div>
            <br>
        <button type="submit">Envoyer</button>
        </fieldset>
    </form> 
</div>


<%- include('_layout/footer'); -%>