<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <div id="logof">
            <img src="/static/isima.png" alt="Logo de isima" />
        <p>Copyright MR - Tous droits réservés<br />
        <a href="#">Me contacter !</a></p>
            <div id="logofright">
                <img src="/static/isima.png" alt="Logo de isima" />
            </div>
    </div>
</footer>
</body>
</html>
